body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.post {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.post:last-child {
    border-bottom: none;
}

.post h2 {
    color: #333;
    margin: 0 0 10px;
}

.post h3 {
    margin: 0;
    color: #666;
    font-weight: normal;
}

.post p {
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
}

footer p {
    margin: 0;
}

#postButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    z-index: 100; 
}

#postFormContainer {
    display: none; /* Initially hidden */
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100; 
}

